/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define WORK    4

&mt {
        tapping-term-ms = <400>;
};

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                    if-layers = <LOWER RAISE>;
                    then-layer = <ADJUST>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |     TAB   |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
// | SHFT/CAPS |  CTRL/A  |  ALT/R  |  SHFT/S  |  GUI/T  |  G  |   |  M  |  GUI/N   |  SHFT/E  |  ALT/I  |  CTRL/O  |  '   |
// |     CTRL  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
//                   | LWR | GUI | SPC |   | ENT | ALT | RSE  |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI    &kp BSPC
   &mt LSHFT CAPS &mt LCTRL A &mt LALT R &mt LSHFT S &mt LGUI T &kp G   &kp M &mt RGUI N  &mt RSHFT E     &mt LALT I   &mt RCTRL O       &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH    &kp ESC
                 &tog LOWER &kp LGUI &kp SPACE   &kp RET &kp RALT &tog RAISE
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     | LFT | DWN |  UP | RGT | DEL  |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     | GUI | SPC |   | ENT | ALT |     |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8   &kp N9    &kp N0 &kp DEL
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans   &kp LEFT &kp DOWN &kp UP    &kp RIGHT  &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans      &trans &trans
                          	        &trans       &kp LGUI     &kp SPACE      &kp RET  &kp RALT &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &trans   &kp LGUI &kp SPACE   &kp RET   &kp RALT  &trans
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |OUT_TOG|     |     |     |     |
// |     |     |     |     |     |     |   |     |WORK |DEFAULT|     |     |     |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans &trans &trans &trans &trans &trans      &trans &trans  &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans      &trans &out OUT_TOG  &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans      &trans &to WORK  &to DEFAULT &trans &trans &trans
                    	     &trans   &trans &trans   &trans   &trans  &trans
                        >;
                };

                work_layer {
// -----------------------------------------------------------------------------------------
// |     TAB   |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
// | SHFT/CAPS |  GUI/A  |  ALT/R  |  SHFT/S  |  CTRL/T  |  G  |   |  M  |  CTRL/N   |  SHFT/E  |  ALT/I  |  GUI/O  |  '   |
// |     GUI  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
//                   | LWR | CTRL | SPC |   | ENT | ALT | RSE  |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI    &kp BSPC
   &mt LSHFT CAPS &mt LGUI A &mt LALT R &mt LSHFT S &mt LCTRL T &kp G   &kp M &mt RCTRL N  &mt RSHFT E     &mt LALT I   &mt RGUI O       &kp SQT
   &kp LGUI &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH    &kp ESC
                 &tog LOWER &kp LCTRL &kp SPACE   &kp RET &kp RALT &tog RAISE
                        >;
                };
        };
};
